* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: BanglaFont;
  src: url(./assets/font/banglaFont-2.ttf);
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  font-family: "BanglaFont", sans-serif;
  background-image: url(./assets/dawahbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: 0;
}

.text-container {
  transition: opacity 0.5s ease-in-out;
}

.text-container p {
  font-size: 5rem;
  text-align: center;
  color: #333;
}

.btn-div {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 2rem;
}

.btn:link,
.btn:visited {
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: #333;
  display: inline-block;
  padding: 3px 20px 6px 20px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #474747;
}

.btn:active {
  background-color: #333333;
}

footer {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: 0.3s ease;
}

footer p a:hover {
  color: #007bff;
}
footer p a:active {
  color: #9775fa;
}
